html{
    scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table{
    text-align: center;
}
td{
    color:rgb(235, 25, 5);
    text-align: center;
    
}
tr{
    color: brown;
    border-radius: 5px;
}